<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Créer un compte</title>
</head>
<body>

<h2>Créer un compte</h2>
<p th:if="${erreur}" th:text="${erreur}" style="color:red;"></p>


<form th:action="@{/register}" method="post" th:object="${utilisateur}">
    <label>Nom :</label>
    <input type="text" th:field="*{nom}" required><br><br>

    <label>Prénom :</label>
    <input type="text" th:field="*{prenom}" required><br><br>

    <label>Pseudo :</label>
    <input type="text" th:field="*{pseudo}" required><br><br>

    <label>Email :</label>
    <input type="email" th:field="*{email}" required><br><br>

    <label>Mot de passe :</label>
    <input type="password" th:field="*{password}" required><br><br>

    <div th:if="${utilisateurSession != null and utilisateurSession.admin}">
        <label><input type="checkbox" th:field="*{admin}"> Compte administrateur</label><br><br>
    </div>

    <button type="submit">S'inscrire</button>
</form>

</body>
</html>