<form th:action="@{/utilisateurs/reglages}" th:object="${utilisateur}" method="post">
    <input type="hidden" th:field="*{id}"/>

    <label>Nom :</label>
    <input type="text" th:field="*{nom}" required><br><br>

    <label>Prénom :</label>
    <input type="text" th:field="*{prenom}" required><br><br>

    <label>Pseudo :</label>
    <input type="text" th:field="*{pseudo}" required><br><br>

    <label>Email :</label>
    <input type="email" th:field="*{email}" required><br><br>

    <label>Nouveau mot de passe (laisser vide pour ne pas changer) :</label>
    <input type="password" th:field="*{password}"><br><br>

    <button type="submit" class="btn btn-primary">Enregistrer les modifications</button>
</form>
